.btn {
    width: 150px;
    background-color: #F19F4D;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .btn:hover {
    background-color: #F9CF00;
  }